/* ================================================================================= */
/* FOOTER */
/* ================================================================================= */

.footer{

    background: var(--navbar);

    color: var(--text);

    margin-top: 40px;

    padding: 35px 0 10px 0;
}

.footer-container{

    width: 90%;

    max-width: 1200px;

    margin: auto;

    display: flex;

    justify-content: space-between;

    gap: 25px;

    flex-wrap: wrap;
}

/* TÍTULOS */

.footer h2,
.footer h3{

    margin-bottom: 12px;

    font-size: 20px;

    color: #ffffff;
}

.footer p,
.footer a{

    color: #bdbdbd;

    text-decoration: none;

    line-height: 1.5;

    font-size: 14px;
}

/* HOVER LINKS */

.footer a:hover{

    color: var(--primary);
}

/* LINKS */

.footer-links{

    display: flex;

    flex-direction: column;

    gap: 5px;
}

/* BOTÃO */

.footer-support button{

    margin-top: 10px;

    padding: 10px 16px;

    border: none;

    border-radius: 10px;

    background: var(--primary);

    color: white;

    font-size: 14px;

    cursor: pointer;

    transition: 0.3s;
}

.footer-support button:hover{

    background: var(--primary-hover);

    transform: translateY(-3px);
}

/* PARTE DE BAIXO */

.footer-bottom{

    text-align: center;

    padding-top: 15px;

    margin-top: 25px;

    border-top: 1px solid rgba(255,255,255,0.08);

    color: var(--secondary);

    font-size: 12px;
}

/* RESPONSIVO */

@media(max-width: 768px){

    .footer-container{

        flex-direction: column;

        text-align: center;
    }

    .footer-links{

        align-items: center;
    }
}